/Infrastructure.Domain/bin
/Infrastructure.Domain/obj
/LocalInformator.AdminApp/obj
/LocalInformator.AdminApp/bin
/LocalInformator.Configuration/bin
/LocalInformator.Configuration/obj
/LocalInformator.Database/obj
/LocalInformator.Database/bin
/LocalInformator.Domain/obj
/LocalInformator.Domain/bin
/LocalInformator.Infrastructure/obj
/LocalInformator.Infrastructure/bin
/LocalInformator.Infrastructure.Configuration/obj
/LocalInformator.Infrastructure.Configuration/bin
/LocalInformator.Infrastructure.Dapper/obj
/LocalInformator.Infrastructure.Dapper/bin
/LocalInformator.Services/obj
/LocalInformator.Services/bin
/LocalInformator.WebApp/obj
/LocalInformator.WebApp/bin
/Infrastructure.Domain/*
/packages
